footer {
  background-color: #333;      /* Dark background color */
  color: #fff;                 /* White text color */
  text-align: center;          /* Center the text */
  padding: 10px;             /* Add space inside the footer */
  text-transform: uppercase;
  display: flex;
  margin-top: auto;
  height: 400px;

}

.footer-nav{
  margin-right: 24px;
  margin-left: 20px;
  line-height: 50px;
  font-size: x-large;

}
.footer-nav:last-child{
  margin-right: 0;
}

.footer-nav > h3{
  color: #fff;
  margin-bottom: 12px;
  text-align: start;
}
.nav-list{
  list-style: none;
  margin: 0;
  text-align: start;
}
.nav-list > li > a{
  color:#fff;
  text-decoration: none;
}
.nav-list > li > a:hover{
  color: grey
}
.h3{
  display: flex;
  flex-direction: column;
} 
